html{
    align-content: center;
    align-items: center;
    color: white;
}

td{
    align-items: center;
    align-self: center;
    align-content: center;
    padding: auto;
}

table{
    background-color: black;
    border-color: blue;
    border-width: 3.5px;
}

body{
    background-image: url('../Images/wall1.png');
    background-attachment: fixed;
    background-size: 99%;
        background-repeat: no-repeat;
}

.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode > table{
    background-color: white;
    color: black;
}

.weird-mode{
    background-color:blue;
    color: red;
}